@font-face {
    font-family: cbsNewBold;
    src: url(fonts/cbsNewBold.ttf);
}
@font-face {
    font-family: cbsNewRegular;
    src: url(fonts/cbsNewRegular.ttf);
}

body {
    background-color: rgb(247, 247, 243);
}

button {
    background-color: rgb(73,103,170);
    font-family: cbsNewRegular;
    font-size: 18px;
}

h1 {
    color: rgb(73, 103, 170);
    font-family: cbsNewBold;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: rgb(73, 103, 170);
    font-family: cbsNewBold;
}

h3 {
    color: rgb(73, 103, 170);
    font-family: cbsNewBold;
}


input, select, option, textarea, text {
    font-family: cbsNewRegular;
    font-size: 16px;
}
p, a {

    font-family: cbsNewRegular;
    font-size: 20px;
}

